<header>
    <nav>
        <div class="nav-wrapper">
          <a routerLink="start" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="start">Inicio</a></li>
            <li><a routerLink="about-us">Nosotros</a></li>
            <li><a routerLink="contact">Contactenos</a></li>
          </ul>
        </div>
      </nav>
</header>



  